services:
  test-db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test_db
    ports:
      - "5444:5432"
    volumes:
      - test_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d megapolis"]
      interval: 5s
      timeout: 3s
      retries: 10


volumes:
  test_db_data:
  formbricks_db_data:
  uploads:
    driver: local
