services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: megapolis
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d megapolis"]
      interval: 5s
      timeout: 3s
      retries: 10



volumes:
  db_data:
  formbricks_db_data:
  uploads:
    driver: local
